.user-container{
    width: 100%;
}
.user-photo-structure{
    text-align: center;
    align-items: center;
}
.user-photo{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.user-name{
    font-size: 26px;
}
/* aliceblue 70% */