.App {
  text-align: center;
  margin: 50px;
  display: grid;
  grid-gap: 20px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/*Custom CSS*/
.painel-structure{
  display: grid;
  grid-template-columns: 65% 30%;
  grid-gap: 5%;
}
